<!DOCTYPE html>
<html>
    <head>
        <title>Guide view</title>
        <link href="/public/css/maze.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>guide view</h1>
        <!-- <h1> <%= JSON.stringify(maze) %> </h1> -->
        <% for (let i = 0; i < maze.rows.length; i++) { %>
            <% for (let j=0; j < maze.rows[i].length; j++) { %>
                <div class="box">
                    
                </div>
            <% } %>
        <% } %>
    </body>
</html>