<!DOCTYPE html>
<html>

<head>
    <title>Guide view</title>
    <link href="/public/css/menu.css" rel="stylesheet" type="text/css">
</head>

<body>
    
    <div class="menu-container">
        <h1 class="menu-title">Navigator</h1>
        <button class="menu-button">Create Room</button>
        <button class="menu-button">Join Room</button>

    </div>
</body>

</html>