<!DOCTYPE html>
<html>

<head>
    <title>Guide view</title>
    <link href="/public/css/menu.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="setting-container">
        <h1 class="setting-title">Input Game Settings</h1>
        <input class="setting-input" placeholder="Enter Width">
        <input class="setting-input" placeholder="Enter Height">
        <input class="setting-input" placeholder="Enter Time">
        <button class="setting-submit">Submit</button>
    </div>
</body>

</html>